<div class="values-wrapper">
  {%- for tag in product.tags -%}
    {%- case tag -%}
      {%- when 'value-vegan' -%}
        <div class="value">
          {% render 'value-vegan' %}
        </div>
      {%- when 'value-artificial' -%}
        <div class="value">
          {% render 'value-artificial' %}
        </div>
      {%- when 'value-balance' -%}
        <div class="value">
          {% render 'value-balance' %}
        </div>
      {%- when 'value-ftalaten' -%}
        <div class="value">
          {% render 'value-ftalaten' %}
        </div>
      {%- when 'value-gluten' -%}
        <div class="value">
          {% render 'value-gluten' %}
        </div>
      {%- when 'value-hydration' -%}
        <div class="value">
          {% render 'value-hydration' %}
        </div>
      {%- when 'value-mineral' -%}
        <div class="value">
          {% render 'value-mineral' %}
        </div>
      {%- when 'value-nuts' -%}
        <div class="value">
          {% render 'value-nuts' %}
        </div>
      {%- when 'value-official' -%}
        <div class="value">
          {% render 'value-official' %}
        </div>
      {%- when 'value-parabens' -%}
        <div class="value">
          {% render 'value-parabens' %}
        </div>
      {%- when 'value-polyethyleen' -%}
        <div class="value">
          {% render 'value-polyethyleen' %}
        </div>
      {%- when 'value-protection' -%}
        <div class="value">
          {% render 'value-protection' %}
        </div>
      {%- when 'value-smoothing-glowing' -%}
        <div class="value">
          {% render 'value-smoothing-glowing' %}
        </div>
      {%- when 'value-soja' -%}
        <div class="value">
          {% render 'value-soja' %}
        </div>
      {%- when 'value-sulfates' -%}
        <div class="value">
          {% render 'value-sulfates' %}
        </div>
      {%- when 'value-talk' -%}
        <div class="value">
          {% render 'value-talk' %}
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>
