{{ 'component-call-to-action.css' | asset_url | stylesheet_tag }}

<div class="section-call-to-action">button 1, button 2</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "call-to-action-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.call_to_action.presets.name",
      "blocks": [
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
