{{ 'component-call-to-action.css' | asset_url | stylesheet_tag }}

<div class="section-call-to-action">button 1, button 2</div>

{% schema %}
{
  "name": "t:sections.call-to-action.presets.name",
  "class": "call-to-action-section",
  "blocks": [
    {
      "type": "link_details",
      "name": "Image Links",
      "settings": [
        {
          "id": "link_pic",
          "type": "image_picker",
          "label": "Link Background"
        },
        {
          "id": "link_txt_top",
          "type": "text",
          "label": "Top Text"
        },
        {
          "id": "link_txt_bottom",
          "type": "text",
          "label": "Bottom Text"
        },
        {
          "id": "page_link",
          "type": "url",
          "label": "link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image Links",
      "category": "Custom Link Content",
      "blocks": [
        {
          "type": "link_details"
        },
        {
          "type": "link_details"
        }
      ]
    }
  ]
}
{% endschema %}
