{{ 'component-call-to-action.css' | asset_url | stylesheet_tag }}

<div class="section-call-to-action">button 1, button 2</div>

{% schema %}
{
  "name": "Section name",
  "settings": [],
  "presets": [
    {
      "name": "Welcome section Test",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
