{%- for block in section.blocks -%}
  {{ block | type }}
  <p class="bg-green-200">test {{ block.link.label }}</p>
{%- endfor -%}

{% schema %}
{
  "name": "call to action",
  "class": "call-to-action",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "id": "linkurl",
          "type": "url",
          "label": "URL link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Link text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "call to action",
      "blocks": [
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}
