{{ 'component-call-to-action.css' | asset_url | stylesheet_tag }}

<div class="section-call-to-action global-section-x-padding scroll-trigger animate--slide-in">
  <div class="flex bg-red-200 gap-x-2 justify-center">
    {%- for block in section.blocks -%}
      {%- if block.type == 'link' -%}
        <a class="px-8 py-4 bg-[#727272]" href="{{ block.settings.linkurl }}"> {{ block.settings.linktext }} </a>
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{% schema %}
{
  "name": "call to action",
  "class": "call-to-action",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "id": "linkurl",
          "type": "url",
          "label": "URL link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Link text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "call to action",
      "blocks": [
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}
