@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

$font-primary: "Poppins", sans-serif;
$body-font: "Poppins", sans-serif;

@mixin font-body-400 {
    font-family: $font-primary;
    font-size: 1.3rem;
}
