@import "shopify_base.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.shop-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.global-section-x-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 750px) {
  .global-section-x-padding {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}
@media (min-width: 990px) {
  .global-section-x-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.page-width--boxed {
  margin: 0 auto;
  max-width: 1280px;
}

.page-width--small {
  margin: 0 auto;
  max-width: 750px;
}

#instagram-feed-box {
  margin: 0 auto;
  max-width: 1280px;
}
#instagram-feed-box .glide__slides .glide__slide {
  box-shadow: none !important;
}
#instagram-feed-box .glide__slides .glide__slide .splide-img {
  box-shadow: none !important;
}

#product-grid .grid__item {
  max-width: none;
}

.collection-list .collection-list__item {
  max-width: none;
}

.related-products .product-grid .grid__item {
  max-width: none;
}

.header__icon .icon.icon-location {
  fill: black;
}

.header__icon--account {
  text-decoration: none;
  text-transform: uppercase;
}
.header__icon--account:hover {
  text-decoration: underline;
}

.announcement-bar__link {
  padding: 2rem 0;
}