.account--sidebar .links-wrapper {
  margin: 0;
  padding: 0;
}
.account--sidebar .links-wrapper .list--item {
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}
.account--sidebar .links-wrapper .list--item a {
  text-decoration: none;
}
.account--sidebar .sidebar-bottom {
  margin-top: 100px;
}
.account--sidebar .sidebar-bottom .list--item a {
  display: flex;
}
.account--sidebar .sidebar-bottom .list--item a svg {
  margin-top: -3px;
}