.account--sidebar {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #f0f0f0;
}
.account--sidebar .links-wrapper {
  margin: 0;
  padding: 0;
}
.account--sidebar .links-wrapper .list--item a {
  text-decoration: none;
  padding: 1rem;
  width: 100%;
  display: block;
}
.account--sidebar .links-wrapper .list--item.active a {
  background-color: #009e6d;
  color: white;
  font-weight: 500;
  border-radius: 5px;
}
.account--sidebar .links-wrapper .list--item:hover a {
  background-color: #ebebeb;
}
.account--sidebar .sidebar-bottom {
  margin-top: 100px;
}
.account--sidebar .sidebar-bottom .list--item a {
  display: flex;
}
.account--sidebar .sidebar-bottom .list--item a svg {
  margin-top: -3px;
}