@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.values-wrapper {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 0.5rem;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.values-wrapper::-webkit-scrollbar {
  height: 2px;
}
.values-wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.values-wrapper::-webkit-scrollbar-thumb {
  background: black;
}
.values-wrapper::-webkit-scrollbar-thumb:hover {
  background: black;
}
.values-wrapper .value {
  width: 75px;
  height: 75px;
  aspect-ratio: 1/1;
  position: relative;
}