.header-wrapper {
  width: 100%;
  border-bottom: 0;
}
.header-wrapper .list-menu li {
  border-right: 1px solid rgba(146, 146, 146, 0);
}
.header-wrapper .list-menu li .header__menu-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}