.header-wrapper {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  border-bottom: 0;
  color: white;
}
.header-wrapper .header__menu-item {
  color: white;
}
.header-wrapper .header__menu-item .header__active-menu-item {
  color: white;
}