.header-wrapper {
  width: 100%;
  border-bottom: 0;
  color: black;
}
.header-wrapper .header__menu-item {
  color: black;
}
.header-wrapper .header__menu-item .header__active-menu-item {
  color: black;
}