.account--sidebar {
  background-color: red;
}
.account--sidebar .links-wrapper {
  margin: 0;
  padding: 0;
}
.account--sidebar .links-wrapper .list--item {
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}
.account--sidebar .sidebar-bottom {
  margin-top: 100px;
}