@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.header-wrapper {
  width: 100%;
  border-bottom: 0;
}
.header-wrapper .list-menu li:last-child {
  border-right: none;
}
.header-wrapper .list-menu li .header__menu-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 300;
}
@media (min-width: 990px) {
  .header-wrapper .list-menu li .header__menu-item {
    font-size: 1.2rem;
  }
}
@media (min-width: 1280px) {
  .header-wrapper .list-menu li .header__menu-item {
    font-size: 1.6rem;
  }
}
.header-wrapper .mega-menu__list {
  gap: 1rem 1rem;
}
.header-wrapper .mega-menu__list > li {
  border-right: 1px solid rgb(176, 176, 176);
}
.header-wrapper .mega-menu__list li > a.mega-menu__link--level-2.mega-menu__has-grandchild {
  text-transform: uppercase;
  pointer-events: none;
  color: black;
  font-weight: bold;
  text-decoration: none;
}