@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.footer {
  background-color: #d1d1d1;
}
.footer .left {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 750px) {
  .footer .left {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 990px) {
  .footer .left {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1280px) {
  .footer .left {
    padding: 0;
  }
}
.footer .left h1 {
  color: rgb(84, 72, 67);
  font-size: 3rem;
  text-transform: uppercase;
}
.footer .left .logo-wrapper img {
  max-width: 280px;
}
.footer .left .footer__menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.footer .left .footer__menu .footer__links,
.footer .left .footer__menu .footer__collections,
.footer .left .footer__menu .footer__about {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .left .footer__menu .footer__links .title,
.footer .left .footer__menu .footer__collections .title,
.footer .left .footer__menu .footer__about .title {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: rgb(84, 72, 67);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer .left .footer__menu .footer__links a,
.footer .left .footer__menu .footer__collections a,
.footer .left .footer__menu .footer__about a {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgb(84, 72, 67);
}
@media (min-width: 640px) {
  .footer .left .footer__menu {
    flex-direction: row;
  }
}
.footer .left .footer__social {
  padding: 8rem 0;
  display: flex;
  border-top: 1px solid rgb(186, 173, 168);
  justify-content: space-between;
}
.footer .left .footer__social h2 {
  color: rgb(84, 72, 67);
  font-family: "Roboto", sans-serif;
}
.footer .left .footer__social .social-icons svg path {
  fill: rgb(84, 72, 67);
}
.footer .right {
  background-color: rgb(36, 36, 36);
}
.footer .right .image-wrapper {
  width: 100%;
  height: 50%;
}
.footer .right .image-wrapper img {
  object-fit: cover;
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
  object-position: center;
}
.footer .right .footer__newsletter-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.footer .right .footer__newsletter-container .footer-block__newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer-block__heading {
  text-align: left;
  color: white;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer__newsletter {
  max-width: none !important;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer__newsletter .field__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer__newsletter .newsletter-form__field-wrapper .field label {
  color: white;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer__newsletter .newsletter-form__field-wrapper .field:after {
  border: 1px solid white;
  box-shadow: none !important;
}
.footer .right .footer__newsletter-container .footer-block__newsletter .footer__newsletter .newsletter-form__field-wrapper .field svg path {
  fill: white !important;
}
@media (min-width: 750px) {
  .footer .right {
    display: flex;
  }
  .footer .right .image-wrapper {
    width: 50%;
    height: 100%;
  }
  .footer .right .footer__newsletter-container {
    width: 50%;
    height: 100%;
  }
}
@media (min-width: 1280px) {
  .footer .right {
    display: initial;
  }
  .footer .right .image-wrapper {
    width: 100%;
    height: 50%;
  }
  .footer .right .footer__newsletter-container {
    width: 100%;
    height: 50%;
  }
}