@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}
.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}
.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }
  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 750px) {
  .multicolumn-list.slider,
  .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }
  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }
  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}
.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }
  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}
@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}
body {
  font-family: "Roboto", sans-serif !important;
}

.multicolumn-list.grid--1-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--1-col-desktop .grid__item {
    width: 200%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--1-col-desktop .grid__item {
    width: 100%;
  }
}
.multicolumn-list.grid--2-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--2-col-desktop .grid__item {
    width: 100%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--2-col-desktop .grid__item {
    width: 50%;
  }
}
.multicolumn-list.grid--3-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--3-col-desktop .grid__item {
    width: 66.6666666667%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--3-col-desktop .grid__item {
    width: 33.3333333333%;
  }
}
.multicolumn-list.grid--4-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--4-col-desktop .grid__item {
    width: 50%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--4-col-desktop .grid__item {
    width: 25%;
  }
}
.multicolumn-list.grid--5-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--5-col-desktop .grid__item {
    width: 40%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--5-col-desktop .grid__item {
    width: 20%;
  }
}
.multicolumn-list.grid--6-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--6-col-desktop .grid__item {
    width: 33.3333333333%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--6-col-desktop .grid__item {
    width: 16.6666666667%;
  }
}
.multicolumn-list.grid--7-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--7-col-desktop .grid__item {
    width: 28.5714285714%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--7-col-desktop .grid__item {
    width: 14.2857142857%;
  }
}
.multicolumn-list.grid--8-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--8-col-desktop .grid__item {
    width: 25%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--8-col-desktop .grid__item {
    width: 12.5%;
  }
}
.multicolumn-list.grid--9-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--9-col-desktop .grid__item {
    width: 22.2222222222%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--9-col-desktop .grid__item {
    width: 11.1111111111%;
  }
}
.multicolumn-list.grid--10-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--10-col-desktop .grid__item {
    width: 20%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--10-col-desktop .grid__item {
    width: 10%;
  }
}
.multicolumn-list.grid--11-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--11-col-desktop .grid__item {
    width: 18.1818181818%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--11-col-desktop .grid__item {
    width: 9.0909090909%;
  }
}
.multicolumn-list.grid--12-col-desktop .grid__item {
  width: 100%;
}
@media (min-width: 750px) {
  .multicolumn-list.grid--12-col-desktop .grid__item {
    width: 16.6666666667%;
  }
}
@media (min-width: 990px) {
  .multicolumn-list.grid--12-col-desktop .grid__item {
    width: 8.3333333333%;
  }
}
.multicolumn-list.justify-left {
  justify-content: left;
}
.multicolumn-list.justify-center {
  justify-content: center;
}
.multicolumn-list.justify-right {
  justify-content: right;
}