@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
}

.share-button + .product__view-details::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }
  .background-secondary .featured-product {
    padding: 5rem;
  }
}
@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }
  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }
  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 7rem;
  }
  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}
body {
  font-family: "Roboto", sans-serif !important;
}

.featured-product .blocks-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.featured-product .blocks-wrapper .product__title {
  flex-grow: 1;
  width: 100%;
  display: block;
}
.featured-product .blocks-wrapper .price-wrapper {
  width: 100%;
}
.featured-product .blocks-wrapper .product-form__quantity {
  margin-right: 2rem;
  margin-top: 2rem;
  min-width: auto;
  max-width: none;
  flex: none;
}
.featured-product .blocks-wrapper .buy-button {
  width: 60%;
  margin-top: 2rem;
}
.featured-product .blocks-wrapper .buy-button .buy-button--wrapper {
  height: 100%;
}
.featured-product .blocks-wrapper .buy-button .product-form {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.featured-product .blocks-wrapper .buy-button .product-form__buttons {
  display: flex;
  gap: 2rem;
}
.featured-product .blocks-wrapper .buy-button .product-form__buttons button.product-form__submit {
  white-space: nowrap;
  padding: 0px 4rem;
  border-radius: 50px;
}
.featured-product .blocks-wrapper .buy-button .product-form__buttons button.shopify-payment-button__button {
  white-space: nowrap;
  padding: 0px 4rem;
  border-radius: 50px;
}