@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}

.featured-product .product__media-item {
  padding-left: 0;
  width: 100%;
}

.featured-product .product__media-item:not(:first-child) {
  display: none;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button + .product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
}

.share-button + .product__view-details::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }
  .background-secondary .featured-product {
    padding: 5rem;
  }
}
@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 0 0 5rem;
  }
  .background-secondary .featured-product:not(.product--no-media).product--right > .product__info-wrapper {
    padding: 0 5rem 0 0;
  }
  .featured-product:not(.product--no-media) > .product__info-wrapper {
    padding: 0 7rem;
  }
  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}
body {
  font-family: "Roboto", sans-serif !important;
}

.featured-product .qnty-buy--wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.featured-product .qnty-buy--wrapper .buy-button--wrapper {
  max-width: 45%;
}
.featured-product .qnty-buy--wrapper .buy-button--wrapper .product-form {
  margin: 0;
}
.featured-product .qnty-buy--wrapper .buy-button--wrapper .product-form .product-form__buttons {
  display: flex;
  gap: 2rem;
}
.featured-product .qnty-buy--wrapper .buy-button--wrapper .product-form .product-form__buttons button.product-form__submit {
  white-space: nowrap;
  padding: 0px 4rem;
  border-radius: 50px;
  width: 100%;
}
.featured-product .qnty-buy--wrapper .buy-button--wrapper .product-form .product-form__buttons .shopify-payment-button__button {
  white-space: nowrap;
  padding: 0px 4rem;
  border-radius: 50px;
  width: 100%;
}
.featured-product .values-wrapper {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 0;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 0.5rem;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.featured-product .values-wrapper::-webkit-scrollbar {
  height: 2px;
}
.featured-product .values-wrapper::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.featured-product .values-wrapper::-webkit-scrollbar-thumb {
  background: black;
}
.featured-product .values-wrapper::-webkit-scrollbar-thumb:hover {
  background: black;
}
.featured-product .values-wrapper .value {
  width: 75px;
  height: 75px;
  aspect-ratio: 1/1;
  position: relative;
}
.featured-product .tabs-wrapper .tabs {
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid #dddddd;
  padding: 0 0 1rem 0;
  margin-bottom: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.featured-product .tabs-wrapper .tabs::-webkit-scrollbar {
  height: 2px;
}
.featured-product .tabs-wrapper .tabs::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
.featured-product .tabs-wrapper .tabs::-webkit-scrollbar-thumb {
  background: black;
}
.featured-product .tabs-wrapper .tabs::-webkit-scrollbar-thumb:hover {
  background: black;
}
.featured-product .tabs-wrapper .tabs .tabs--title {
  text-transform: uppercase;
  color: #dddddd;
  white-space: nowrap;
}
.featured-product .tabs-wrapper .tabs .tabs--title.active {
  color: black;
}
.featured-product .tabs-wrapper .tabs--content {
  display: none;
}
.featured-product .tabs-wrapper .tabs--content.active {
  display: block;
}