@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.section--image-repeater .image-repeater-grid {
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 6rem;
}
.section--image-repeater .image-repeater-grid .image-block {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper {
  overflow: hidden;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper img {
  transition: transform 0.5s ease-in-out;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--square {
  aspect-ratio: 1/1;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--portrait {
  aspect-ratio: 4/5;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--landscape {
  aspect-ratio: 6/4;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner {
  text-align: left;
  padding-top: 3rem;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner .title {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  text-align: left;
  color: black;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner .button {
  background-color: #3c3c3c;
  transition: background-color 0.3s ease-in-out;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner .button::after {
  content: none;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner .button:hover {
  background-color: #565656;
}
.section--image-repeater .image-repeater-grid .image-block:hover .image-repeater--image-wrapper img {
  transform: scale(1.06);
}
@media (min-width: 640px) {
  .section--image-repeater .image-repeater-grid {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 6rem 2rem;
  }
  .section--image-repeater .image-repeater-grid .image-block {
    width: calc(50% - 1rem);
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper {
    aspect-ratio: 6/4;
  }
}
@media (min-width: 990px) {
  .section--image-repeater .image-repeater-grid {
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .section--image-repeater .image-repeater-grid .image-block {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper.image--square {
    aspect-ratio: 1/1;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper.image--portrait {
    aspect-ratio: 4/5;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper.image--landscape {
    aspect-ratio: 6/4;
  }
}
.section--image-repeater .image-repeater-grid.grid--dynamic {
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block {
  width: 100%;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
  margin: 0;
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  max-width: 100%;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-repeater--image-wrapper {
  aspect-ratio: 4/5;
}
@media (min-width: 640px) {
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
    max-width: 90%;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-repeater--image-wrapper {
    aspect-ratio: 6/4;
  }
}
@media (min-width: 990px) {
  .section--image-repeater .image-repeater-grid.grid--dynamic {
    gap: 3rem;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block {
    width: calc(50% - 1.5rem);
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block:first-child {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block.image--even:last-child {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block.image--odd:last-child {
    width: calc(50% - 1.5rem);
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
    max-width: 85%;
    font-size: 4rem;
  }
}