.section--image-repeater {
  background-color: red;
}
.section--image-repeater .image-repeater-grid {
  flex-wrap: nowrap;
  gap: 1rem;
}
.section--image-repeater .image-repeater-grid .image-block {
  width: 100%;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.media--square {
  aspect-ratio: 1/1;
}
.section--image-repeater .image-repeater-grid.grid--dynamic {
  flex-wrap: wrap;
  gap: 1rem;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:first-child {
  width: 100%;
  background-color: pink;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:nth-child(2) {
  width: calc(50% - 0.5rem);
  background-color: green;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:nth-child(3) {
  width: calc(50% - 0.5rem);
  background-color: pink;
}