.section--image-repeater {
  background-color: red;
}
.section--image-repeater .image-repeater-grid {
  flex-wrap: nowrap;
  gap: 4rem;
}
.section--image-repeater .image-repeater-grid .image-block {
  width: 100%;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--square {
  aspect-ratio: 1/1;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--portrait {
  aspect-ratio: 4/5;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--landscape {
  aspect-ratio: 5/3;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.section--image-repeater .image-repeater-grid.grid--dynamic {
  flex-wrap: wrap;
  gap: 4rem;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:first-child {
  width: 100%;
  background-color: pink;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:nth-child(2) {
  width: calc(50% - 2rem);
  background-color: green;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block:nth-child(3) {
  width: calc(50% - 2rem);
  background-color: pink;
}