@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
}

.section--image-repeater .image-repeater-grid {
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 6rem;
}
.section--image-repeater .image-repeater-grid .image-block {
  width: 100%;
  position: relative;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper {
  overflow: hidden;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper img {
  transition: transform 0.5s ease-in-out;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--square {
  aspect-ratio: 1/1;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--portrait {
  aspect-ratio: 4/5;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper.image--landscape {
  aspect-ratio: 6/4;
}
.section--image-repeater .image-repeater-grid .image-block .image-repeater--image-wrapper img {
  height: 100%;
  object-fit: cover;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner {
  text-align: center;
  padding-top: 3rem;
}
.section--image-repeater .image-repeater-grid .image-block .image-block--content .content--inner .title {
  font-weight: 500;
  margin: 0;
}
.section--image-repeater .image-repeater-grid .image-block:hover .image-repeater--image-wrapper img {
  transform: scale(1.06);
}
@media (min-width: 640px) {
  .section--image-repeater .image-repeater-grid {
    flex-wrap: wrap;
    gap: 6rem 2rem;
    background-color: red;
  }
  .section--image-repeater .image-repeater-grid .image-block {
    width: calc(50% - 1rem);
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper {
    aspect-ratio: 6/4;
  }
}
@media (min-width: 990px) {
  .section--image-repeater .image-repeater-grid {
    background-color: pink;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .section--image-repeater .image-repeater-grid .image-block {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid .image-block.image--odd:last-child .image-repeater--image-wrapper {
    aspect-ratio: inherit;
  }
}
.section--image-repeater .image-repeater-grid.grid--dynamic {
  flex-wrap: wrap;
  gap: 2rem;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block {
  width: 100%;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
  margin: 0;
}
.section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
  font-size: 16px;
  line-height: 18.4px;
}
@media screen and (min-width: 640px) {
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
    font-size: calc(
                    16px + 8 *
                        ((100vw - 640px) / 384)
                );
    line-height: calc(
                    16px * 1.15 + 8 *
                        ((100vw - 640px) / 384)
                );
  }
}
@media screen and (min-width: 1024px) {
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block .image-block--content .content--inner .title {
    font-size: 24px;
    line-height: 27.6px;
  }
}
@media (min-width: 990px) {
  .section--image-repeater .image-repeater-grid.grid--dynamic {
    gap: 3rem;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block {
    width: calc(50% - 1.5rem);
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block:first-child {
    width: 100%;
  }
  .section--image-repeater .image-repeater-grid.grid--dynamic .image-block.image--even:last-child {
    width: 100%;
  }
}