.section--image-repeater {
  background-color: red;
}
.section--image-repeater .image-repeater-grid.grid--dynamic {
  flex-wrap: wrap;
}
.section--image-repeater .image-repeater-grid.grid--dynamic:first-child {
  width: 100%;
  background-color: pink;
}