@import "shopify_base.css", "../config/config.scss";

html {
    scroll-behavior: smooth;
}

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}

.global-section-x-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: $breakpoint-md) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    // @media (min-width: $breakpoint-lg) {
    //     padding-left: 5rem;
    //     padding-right: 5rem;
    // }
}

.page-width--full_width {
    margin: 0 auto;
    max-width: $max-width;
}

.page-width--boxed {
    margin: 0 auto;
    max-width: $max-width--boxed;
}

.page-width--small {
    margin: 0 auto;
    max-width: $max-width--small;
}

#instagram-feed-box {
    display: none;
    margin: 0 auto;
    max-width: $max-width--boxed;
    .glide__slides {
        .glide__slide {
            box-shadow: none !important;
            .splide-img {
                box-shadow: none !important;
            }
        }
    }
}

#product-grid {
    .grid__item {
        max-width: none;
    }
}

.collection-list {
    .collection-list__item {
        max-width: none;
    }
}

.related-products {
    .product-grid {
        .grid__item {
            max-width: none;
        }
    }
}

.header__icon .icon.icon-location {
    fill: black;
}

.header__icon--account {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}

.announcement-bar__link {
    padding: 2rem 0;
}

// #instafeed li.glide__slide .splide-img {
//     box-shadow: none !important;
// }

.product-view--list {
    .collection .grid__item {
        width: 100% !important;
        max-width: 100% !important;
    }
    .collection .card {
        justify-content: space-between !important;
        align-items: center !important;
        gap: 2rem;
        flex-direction: initial !important;
    }
    .collection .card__inner {
        width: 100px;
    }
    .collection .card__content {
        width: 85% !important;
    }
    .collection .card__information {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .collection .card__heading {
        width: 50%;
    }
    .collection .card-information {
        width: 50%;
        text-align: right;
    }

    .collection {
        .card__content {
            .quick-add {
                form {
                    justify-content: flex-end;
                    .button {
                        &.quick-add__submit {
                            width: auto;
                            min-width: unset;
                        }
                    }
                }
            }
        }
    }
}

//product buttons

@mixin grayButton {
    &:after,
    &:before {
        content: none;
    }
    &:not([disabled]) {
        background-color: $gray;
        color: black;
        transition: background-color 0.3s ease-in-out;
        &:hover {
            background-color: darken($gray, 5%);
            cursor: pointer;
        }
    }
}

@mixin ctaButton {
    &:after,
    &:before {
        content: none;
    }

    &:not([disabled]) {
        background-color: $green;
        color: white;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: darken($green, 5%);
            cursor: pointer;
        }
    }
}

.cart-notification-wrapper {
    #cart-notification {
        border: 1px solid $gray;

        .cart-notification__heading .icon-checkmark {
            color: $green;
        }
        #cart-notification-product {
            .cart-notification-product__image {
                aspect-ratio: 1/1;
            }
        }

        .cart-notification__links {
            #cart-notification-button {
                @include grayButton;
            }

            #cart-notification-form button {
                @include ctaButton;
            }

            button.link {
                text-decoration: none;
                margin-top: 2rem;
                font-size: 1.3rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.product {
    .button {
        &.quick-add__submit,
        &.product-form__submit {
            @include grayButton;
        }
    }
    .shopify-payment-button__button {
        &:after,
        &:before {
            content: none;
        }
        &:not([disabled]) {
            background-color: $green;
            color: white;
            transition: background-color 0.3s ease-in-out;
            &:hover {
                background-color: darken($green, 5%);
            }
        }
    }
}
.product-view--grid,
.product-view--list {
    .button {
        &.quick-add__submit,
        &.product-form__submit {
            padding: 0.5rem 2rem;
            min-width: unset;
            width: auto;
            min-height: auto;
            border-radius: 20px;
            background-color: #bdbdbd;
            color: rgb(58, 58, 58);

            @include ctaButton;
        }
    }
}

.cart-count-bubble {
    background-color: $green;
}
