@import "shopify_base.css", "../config/config.scss";

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}

.global-section-x-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: $breakpoint-md) {
        padding-left: 3.2rem;
        padding-right: 3.2rem;
    }

    @media (min-width: $breakpoint-lg) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.page-width--boxed {
    margin: 0 auto;
    max-width: $max-width--boxed;
}

#instagram-feed-box {
    margin: 0 auto;
    max-width: $max-width--boxed;
    .glide__slides {
        .glide__slide {
            box-shadow: none !important;
            .splide-img {
                box-shadow: none !important;
            }
        }
    }
}

#product-grid {
    .grid__item {
        max-width: none;
    }
}

.collection-list {
    .collection-list__item {
        max-width: none;
    }
}

.related-products {
    .product-grid {
        .grid__item {
            max-width: none;
        }
    }
}

// #instafeed li.glide__slide .splide-img {
//     box-shadow: none !important;
// }
