@import "shopify_base.css", "../config/config.scss";

.shop-flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    padding: 0;
    list-style: none;
    column-gap: var(--grid-mobile-horizontal-spacing);
    row-gap: var(--grid-mobile-vertical-spacing);
}

.global-section-x-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: $breakpoint-md) {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    // @media (min-width: $breakpoint-lg) {
    //     padding-left: 5rem;
    //     padding-right: 5rem;
    // }
}

.page-width--full_width {
    margin: 0 auto;
    max-width: $max-width;
}

.page-width--boxed {
    margin: 0 auto;
    max-width: $max-width--boxed;
}

.page-width--small {
    margin: 0 auto;
    max-width: $max-width--small;
}

#instagram-feed-box {
    display: none;
    margin: 0 auto;
    max-width: $max-width--boxed;
    .glide__slides {
        .glide__slide {
            box-shadow: none !important;
            .splide-img {
                box-shadow: none !important;
            }
        }
    }
}

#product-grid {
    .grid__item {
        max-width: none;
    }
}

.collection-list {
    .collection-list__item {
        max-width: none;
    }
}

.related-products {
    .product-grid {
        .grid__item {
            max-width: none;
        }
    }
}

.header__icon .icon.icon-location {
    fill: black;
}

.header__icon--account {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        text-decoration: underline;
    }
}

.announcement-bar__link {
    padding: 2rem 0;
}

// #instafeed li.glide__slide .splide-img {
//     box-shadow: none !important;
// }
