@import "./shopify/component-slideshow.scss", "../config/config.scss";

.slideshow__text-wrapper {
    &.banner__content {
        padding: 3.2rem;
    }

    @media (min-width: $breakpoint-lg) {
        &.banner__content {
            padding: 5rem;
        }
    }
}
