.header-wrapper {
    background-color:white;
    // position: absolute;
    width: 100%;
    border-bottom: 0;
    color: black;

    .header__menu-item {
        color: black;
        
        .header__active-menu-item {
            color: black;
        }
    }
}
