@import "../config/config.scss";
.tabs-wrapper {
    .tabs {
        display: flex;
        gap: 2rem;
        border-bottom: 1px solid $gray200;
        padding: 0 0 1rem 0;
        margin-bottom: 2rem;

        overflow-y: hidden;
        overflow-x: scroll;

        /* width */
        &::-webkit-scrollbar {
            height: 2px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0);
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: black;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: black;
        }

        .tabs--title {
            color: $gray300;
            white-space: nowrap;

            &:hover {
                color: black;
                cursor: pointer;
            }

            &.active {
                color: black;
                font-weight: 500;
            }
        }
    }

    .tabs--content {
        display: none;
        p {
            margin-bottom: 2rem;
        }

        &.active {
            display: block;
        }
    }
}
