@import "../config/config.scss";
.header-wrapper {
    width: 100%;
    border-bottom: 0;

    .list-menu {
        li {
            &:last-child {
                border-right: none;
            }
            .header__menu-item {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                text-transform: uppercase;
                font-weight: 300;

                @media (min-width: $breakpoint-lg) {
                    font-size: 1.2rem;
                }
                @media (min-width: $breakpoint-xl) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .mega-menu__list {
        gap: 0;

        & > li {
            border-right: 1px solid rgb(176, 176, 176);
            padding: 0 1rem;

            @media (min-width: $breakpoint-xl) {
                padding: 0 2rem;
            }
        }

        li {
            & > a.mega-menu__link--level-2.mega-menu__has-grandchild {
                text-transform: uppercase;
                pointer-events: none;
                color: black;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}
