@import "./shopify/component-slider.scss", "../config/config.scss";

.featured-collection--component {
    .collection__title {
        .title {
            @include h5-text;
            text-align: center;
        }
    }

    .collection__description {
        .description {
            @include h5-text;
            font-weight: 300;
            text-align: center;
        }
    }
    .slider--component {
        ul.product-grid {
            li.grid__item {
                max-width: 100%;
                width: calc(100% - var(--grid-mobile-horizontal-spacing) - 3rem);

                @media screen and (min-width: 490px) {
                    width: calc(50% - var(--grid-mobile-horizontal-spacing) / 2);
                }

                @media screen and (min-width: $breakpoint-md) {
                    width: calc(33.33% - var(--grid-mobile-horizontal-spacing) / 2);
                }

                @media screen and (min-width: $breakpoint-lg) {
                    width: calc(25% - var(--grid-mobile-horizontal-spacing) - 3rem);
                }
            }
        }
    }
    .page-width--full_width,
    .page-width--boxed {
        .grid__item {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}
