@import "../config/config.scss";

$sidebarBg: #181818;
$sidebarHighlight: white;
$sidebarActive: #00eaa0;

.account--sidebar {
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: $sidebarBg;

    .links-wrapper {
        margin: 0;
        padding: 0;

        .list--item {
            // border-bottom: 1px solid gray;
            a {
                text-decoration: none;
                padding: 1rem;
                width: 100%;
                display: block;
                border-bottom: 1px solid rgba(0, 0, 0, 0);
                display: flex;
                align-items: center;
                padding-left: 0;
                color: $sidebarHighlight;
            }

            &.active a {
                // background-color: $green;
                color: $sidebarActive;
                font-weight: 500;
                border-bottom: 1px solid $sidebarActive;

                svg {
                    fill: $sidebarActive;
                }
            }

            &:hover a {
                border-bottom: 1px solid $sidebarHighlight;
            }

            &:hover {
                &.active a {
                    border-bottom: 1px solid $sidebarActive;
                }
            }
        }
    }

    .sidebar-top {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .list--item a {
            gap: 1rem;

            svg {
                width: 15px;
                margin-right: 0;
                fill: white;
            }
        }
    }

    .sidebar-bottom {
        margin-top: 100px;
        .list--item {
            a {
                display: flex;
                gap: 1rem;
                svg {
                    width: 15px;
                    margin-top: -3px;
                }
            }
        }
    }
}
