@import "./shopify/component-slideshow.scss", "../config/config.scss";

.slideshow__text-wrapper {
    &.banner__content {
        padding: 3.2rem;
    }

    .slideshow__text {
        .banner__text {
            margin-top: 0;
        }

        .banner__buttons {
            .button {
                background-color: rgb(114, 114, 114);
                color: white;
                &::after {
                    box-shadow: none;
                }
            }
        }

        @media (max-width: $breakpoint-md) {
            .banner__heading,
            .banner__text {
                color: rgb(53, 53, 53) !important;
            }
        }
    }

    @media (min-width: $breakpoint-md) {
        &.banner__content {
            padding-bottom: 6rem;
        }

        .slideshow__text {
            .banner__text {
                color: white;
            }
        }
    }

    @media (min-width: $breakpoint-lg) {
        &.banner__content {
            padding: 5rem;
        }
    }
}

.slideshow__controls {
    border: none;

    @media (min-width: $breakpoint-md) {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;

        .slider-counter__link {
            .dot {
                background-color: white;
                border: none;
            }
        }
    }
}
