@import "./shopify/component-image-with-text.scss";

.image-with-text {
    .image-with-text__text-item {
        .image-with-text__content {
            padding-bottom: 0;

            .top--content {
                .image-with-text__heading {
                    margin-bottom: 1rem;
                }
            }

            .bottom--content {
                margin-top: 10rem;

                .highlight--image {
                    .image-wrapper {
                        aspect-ratio: 5/4;
                    }
                }
            }
        }
    }
}
