@import "./shopify/component-card.scss", "../config/config.scss";

.card-product--component {
    overflow: hidden;

    .card__inner {
        background-color: #f1f1f1;

        .href-wrapper {
            display: block;
        }
    }

    .card__media {
        mix-blend-mode: darken;
    }

    .card__content {
        overflow: hidden;
        padding: 1rem 0;
        .card__information {
            .full-unstyled-link {
                font-family: $font-primary;
                font-size: 1.3rem;
                text-decoration: none;
            }

            .price {
                margin-top: 0;
                .price__container {
                    font-size: 1.3rem;
                    color: rgb(100, 100, 100);
                    font-weight: 400;
                    margin-top: 0.5rem;
                }
            }
        }

        // @media screen and (min-width: $breakpoint-lg) {
        //     position: absolute;
        //     bottom: 0;
        //     transform: translateY(4rem);
        //     opacity: 0;
        //     transition: transform 0.3s, opacity 0.3s;
        //     .card__information {
        //         padding-left: 1rem;
        //         .full-unstyled-link {
        //             text-align: left;
        //             color: white;
        //         }
        //         .price {
        //             text-align: left;
        //             .price__container {
        //                 color: rgb(179, 179, 179);
        //             }
        //         }
        //     }
        // }
    }

    &:hover {
        .card__media {
            transition: opacity 0.3s;
            opacity: 0.65;
        }
        @media screen and (min-width: $breakpoint-lg) {
            .card__content {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
