@import "./shopify/customer.scss", "../config/config.scss";

@mixin card-shadow {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

$contentBg: #cccccc;

footer.footer {
    display: none;
}

header.header {
    padding: 1rem 2rem !important;
    height: 70px;

    .header__heading-link {
        width: 50px;
    }
}

.shopify-section {
    background-color: #fafafa;
}

.customer {
    &.account,
    &.order,
    &.addresses {
        padding: 0 !important;
        height: calc(100vh - 70px);
        overflow: hidden;
        max-width: 1540px !important;
    }

    &.account,
    &.order,
    &.addresses {
        padding: 0;
        height: calc(100vh - 70px);
        overflow: hidden;

        .content--wrapper {
            height: calc(100vh - (1rem + 60px));
            padding: 2rem;
            background-color: $contentBg;

            .content--inner {
                padding: 2rem;
                height: 100%;
                @include card-shadow;
                overflow: hidden;
                padding-bottom: 5rem;

                .content-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 2rem;
                    border-bottom: 1px solid #e0e0e0;

                    .content--title {
                        margin: 0;
                    }

                    .order-download {
                        a {
                            background-color: $green;
                            color: white;
                            padding: 1rem 1.5rem;
                            text-decoration: none;
                            border-radius: 5px;

                            &:hover {
                                background-color: darken($green, 10%);
                            }
                        }
                    }
                }

                .content-main {
                    overflow: scroll;
                    height: 100%;
                    padding: 2rem 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .order-info {
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        border-radius: 10px;
                        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        padding: 2rem;
                        width: max-content;

                        p {
                            margin: 0;
                        }
                    }

                    .order-details {
                        @include card-shadow;
                    }

                    .address-wrapper {
                        gap: 2rem;
                        .address {
                            padding: 2rem;
                            width: 100%;
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }

                    .filler {
                        background-color: red;
                        width: 200px;
                        height: 1000px;
                        display: block;
                    }

                    &.address-main {
                        .address-edit {
                            .list {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;

                                .address--item {
                                    margin-top: 0;
                                    padding: 2rem;
                                    @include card-shadow;

                                    .address-content {
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        gap: 2rem;

                                        .info {
                                            width: calc(60% - 2rem);
                                            text-align: left;
                                        }

                                        button.edit,
                                        button.remove {
                                            width: calc(20% - 2rem);
                                        }

                                        .address-form {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
