@import "./shopify/customer.scss", "../config/config.scss";

@mixin card-shadow {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

$contentBg: #ededed;
$gray-border: #12121214;

footer.footer {
    display: none;
}

header.header {
    padding: 1rem 2rem !important;
    height: 70px;

    .header__heading-link {
        width: 50px;
    }
}

.shopify-section {
    background-color: $contentBg;
}

.customer {
    &.account,
    &.order,
    &.addresses,
    &.portal {
        padding: 0 !important;
        height: calc(100vh - 70px);
        overflow: hidden;
        max-width: 1540px !important;
        background: $contentBg;

        @media (max-width: $breakpoint-lg) {
            height: auto;
            min-height: calc(100vh - 70px);
        }
    }

    &.account,
    &.order,
    &.addresses,
    &.portal {
        .content--wrapper {
            height: calc(100vh - (1rem + 60px));
            padding: 2rem;
            background-color: $contentBg;

            .content--inner {
                padding: 2rem;
                height: 100%;
                @include card-shadow;
                overflow: hidden;
                padding-bottom: 5rem;

                .content-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 2rem;
                    border-bottom: 1px solid #e0e0e0;

                    .content--title {
                        margin: 0;
                    }

                    .order-download {
                        a {
                            background-color: $green;
                            color: white;
                            padding: 1rem 1.5rem;
                            text-decoration: none;
                            border-radius: 5px;

                            &:hover {
                                background-color: darken($green, 10%);
                            }
                        }
                    }
                }

                .content-main {
                    overflow: scroll;
                    height: 100%;
                    padding: 2rem 0;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    @media (max-width: $breakpoint-lg) {
                        overflow: auto;
                    }

                    .order-history {
                        tbody tr {
                            padding: 1px;
                        }
                    }

                    .address-wrapper {
                        gap: 2rem;
                        .address {
                            padding: 2rem;
                            width: 100%;
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                        }
                    }

                    &.order-detail-main {
                        .order-info {
                            display: flex;
                            flex-direction: column;
                            background-color: white;
                            border-radius: 10px;
                            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                            padding: 2rem;
                            width: max-content;

                            p {
                                margin: 0;
                            }
                        }

                        .order-details {
                            @include card-shadow;
                        }

                        @media (max-width: $breakpoint-lg) {
                            align-items: center;

                            .order-info {
                                width: 100%;
                                padding: 2rem 0;
                                box-shadow: none;

                                p {
                                    font-size: 1.4rem;
                                }
                            }
                            .order-details {
                                background-color: #fafafa;
                                border: 1px solid $gray-border;
                                box-shadow: none;

                                tr {
                                    padding: 0 1.5rem;
                                }
                            }
                            .address-wrapper {
                                flex-direction: column;
                                width: 100%;
                                padding: 2px;

                                .address {
                                    padding: 0;
                                    border-bottom: 1px solid $gray-border;
                                    border-radius: 0;
                                    box-shadow: none;

                                    h2 {
                                        margin: 0;
                                    }
                                    p {
                                        font-size: 1.4rem;
                                    }
                                }
                            }
                        }
                    }

                    &.address-main {
                        .address-new {
                            button {
                                margin: 3rem 0;
                                border-radius: 50px;
                                background-color: $green;
                                transition: background-color 0.3s ease-in-out;

                                &:after {
                                    display: none;
                                }

                                &:hover {
                                    background-color: darken($green, 10%);
                                }
                            }
                        }
                        .address-edit {
                            .list {
                                display: flex;
                                flex-direction: column;
                                gap: 2rem;

                                .address--item {
                                    margin-top: 0;
                                    padding: 2rem;
                                    // @include card-shadow;
                                    border: 1px solid #12121214;
                                    border-radius: 10px;

                                    &.default--address {
                                        background-color: #fafafa;
                                    }

                                    .address-content {
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        gap: 2rem;

                                        .info {
                                            width: calc(60% - 2rem);
                                            text-align: left;

                                            h2.default {
                                                font-weight: 400;
                                                color: $green;
                                            }
                                        }

                                        button.edit,
                                        button.remove {
                                            width: calc(20% - 2rem);
                                            background-color: rgba(0, 0, 0, 0);
                                            color: black;
                                            text-decoration: underline;
                                            margin: 0;

                                            &::after {
                                                display: none;
                                            }

                                            &:hover {
                                                text-decoration: none;
                                            }
                                        }

                                        .address-form {
                                            width: 100%;
                                            border: 1px solid #12121214;
                                            padding: 2rem;
                                            border-radius: 10px;

                                            h2 {
                                                font-weight: 400;
                                            }

                                            .field,
                                            select {
                                                &:after {
                                                    box-shadow: none;
                                                    border: 1px solid #dddddd;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.portal-main {
                        display: flex;
                        padding: 2rem 0;

                        .portal-intro {
                            display: flex;
                            gap: 2rem;

                            .intro,
                            .feedback {
                                width: 100%;
                                border: 1px solid #e6e6e6;
                                background-color: #f3f3f3;
                                border-radius: 10px;
                                padding: 1.5rem;
                                h2 {
                                    font-size: 15px;
                                    line-height: 19px;
                                    span {
                                        font-weight: 800;
                                    }
                                }
                            }
                        }

                        .portal-item {
                            h2 {
                                font-weight: 400;
                                font-size: 1.3rem;
                                color: #8f8f8f;
                                padding-bottom: 2rem;
                            }
                            .dir-links {
                                width: 100%;
                                // display: flex;
                                // gap: 3rem;

                                .dir--link {
                                    // width: calc(100% / 12);
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    text-decoration: none;
                                    gap: 1rem;

                                    svg {
                                        fill: #56a4e5;
                                        transition: fill 0.2s ease-in-out;
                                        width: 60px;

                                        &.icon-file {
                                            width: 40px;
                                            fill: #a4a4a4;
                                        }
                                    }

                                    p {
                                        font-weight: 400;
                                    }

                                    &:hover {
                                        svg {
                                            fill: darken(#56a4e5, 15%);

                                            &.icon-file {
                                                fill: darken(#a4a4a4, 15%);
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        @media (max-width: $breakpoint-lg) {
                            padding: 2rem 0;

                            .portal-intro {
                                flex-direction: column;
                            }

                            h2.intro {
                                width: 100%;
                                margin-top: 3rem;
                            }

                            // .portal-item {
                            //     .dir-links {
                            //         .dir--link {
                            //             width: 50%;
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }

            @media (max-width: $breakpoint-lg) {
                height: auto;
                padding: 1rem;

                .content-header {
                    .content--title {
                        font-size: 2rem;
                    }
                }
                .content--inner {
                    .content-main {
                        padding: 0;
                    }
                }
            }
        }
    }
}
