@import "./shopify/section-featured-product.scss", "../config/config.scss";

.featured-product {
    .qnty-buy--wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .buy-button--wrapper {
            max-width: 45%;
            .product-form {
                margin: 0;
                .product-form__buttons {
                    display: flex;
                    gap: 2rem;

                    button.product-form__submit {
                        white-space: nowrap;
                        padding: 0px 4rem;
                        border-radius: 50px;
                        width: 100%;
                    }

                    .shopify-payment-button__button {
                        white-space: nowrap;
                        padding: 0px 4rem;
                        border-radius: 50px;
                        width: 100%;
                    }
                }
            }
        }
    }

    .product__view-details {
        display: flex;
        margin-top: 4rem;
    }
}
