@import "../config/config.scss";

.section-infographic {
    max-width: $max-width--boxed;
    .image-with-text__media-item {
        .highlight-overlay {
            width: 100%;
            height: 100%;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 0) 29%, rgba(67, 27, 105, 0.49205619747899154) 100%);
            position: absolute;
            z-index: 1;

            @media (max-width: $breakpoint-md) {
                display: none;
            }

            .overlay--inner {
                display: flex;
                flex-direction: column;
                align-items: end;
                justify-content: center;
                flex-wrap: wrap;

                .item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 5rem;

                    .number {
                        width: 90px;
                        height: 90px;
                        border: 3px solid white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 2rem;
                        color: white;
                        font-weight: 300;
                        border-radius: 5rem;
                    }

                    .text {
                        color: white;
                        width: 170px;
                        font-size: 2rem;
                        text-align: center;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
    .image-with-text__content {
        padding: 0;
        display: flex;
        justify-content: center;

        .infoblock_wrapper {
            width: 100%;
            margin-left: 0;
            padding: 3rem 2rem 0 2rem;

            .button--text {
                padding-top: 1rem;
                display: block;
                font-weight: 400;
                text-decoration: underline;

                transition: text-decoration 0.2s ease-in-out;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        @media (min-width: $breakpoint-md) {
            .infoblock_wrapper {
                padding: 0;
                width: calc((100% / 6) * 4);
                margin-left: calc((100% / 6) * 2);
            }
        }
    }

    .image-with-text__grid--reverse {
        .image-with-text__content {
            @media (min-width: $breakpoint-md) {
                .infoblock_wrapper {
                    width: calc((100% / 6) * 4);
                    margin-left: 0;
                }
            }
        }
    }
}
