@import "../config/config.scss";

$gap: 3rem;

.section--image-repeater {
    .image-repeater-grid {
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 6rem;

        .image-block {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .image-repeater--image-wrapper {
                overflow: hidden;

                img {
                    transition: transform 0.5s ease-in-out;
                }

                &.image--square {
                    aspect-ratio: 1/1;
                }

                &.image--portrait {
                    aspect-ratio: 4/5;
                }

                &.image--landscape {
                    aspect-ratio: 6/4;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
            .image-block--content {
                .content--inner {
                    text-align: center;
                    padding-top: 3rem;

                    .title {
                        font-weight: 500;
                        margin: 0;
                    }
                }
            }

            &:hover {
                .image-repeater--image-wrapper img {
                    transform: scale(1.06);
                }
            }
        }

        @media (min-width: $breakpoint-sm) {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 6rem 2rem;
            .image-block {
                width: calc((100% / 2) - (2rem / 2));

                &.image--odd {
                    &:last-child {
                        width: 100%;
                        .image-repeater--image-wrapper {
                            aspect-ratio: 6/4;
                        }
                    }
                }
            }
        }

        @media (min-width: $breakpoint-lg) {
            flex-wrap: nowrap;
            gap: $gap;
            .image-block {
                width: 100%;

                &.image--odd {
                    &:last-child {
                        .image-repeater--image-wrapper {
                            &.image--square {
                                aspect-ratio: 1/1;
                            }

                            &.image--portrait {
                                aspect-ratio: 4/5;
                            }

                            &.image--landscape {
                                aspect-ratio: 6/4;
                            }
                        }
                    }
                }
            }
        }

        &.grid--dynamic {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 2rem;

            .image-block {
                width: 100%;

                .image-block--content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    .content--inner {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        padding: 2rem;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-end;

                        .title {
                            @include h5-text;
                            margin: 0;
                        }
                    }
                }
            }

            @media (min-width: $breakpoint-lg) {
                gap: $gap;
                .image-block {
                    width: calc((100% / 2) - ($gap / 2));
                    &:first-child {
                        width: 100%;
                    }
                    &.image--even {
                        &:last-child {
                            width: 100%;
                        }
                    }

                    &.image--odd {
                        &:last-child {
                            width: calc((100% / 2) - ($gap / 2));
                        }
                    }
                    // &:nth-child(2) {
                    //     width: calc((100% / 2) - ($gap / 2));
                    // }
                    // &:nth-child(3) {
                    //     width: calc((100% / 2) - ($gap / 2));
                    // }
                }
            }
        }
    }
}
