@import "./shopify/section-blog-post.scss", "../config/config.scss";

.article-template {
    // background-color: red;

    .article-template__title {
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 500;
    }

    .article-template__content {
        margin-bottom: 8rem;

        & > * {
            margin-bottom: 2rem;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 2.3rem;
            font-weight: 500;
            margin-top: 5rem;
        }

        strong {
            font-weight: 600;
        }

        a {
            text-decoration: underline;
            text-decoration-thickness: 1px;

            &:hover {
                text-decoration: none;
            }
        }

        ul {
            padding-left: 2rem;
            margin-top: 1rem;
            li {
                margin-bottom: 0.5rem;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 6/4;
        }
    }

    .main-article-featured {
        .featured--title {
            text-align: center;
            font-size: 2.3rem;
            line-height: 3.5rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
        }

        button.quick-add__submit {
            white-space: nowrap;
            padding: 0.8rem 2rem;
            border-radius: 50px;
            width: auto;
            min-width: auto;
            min-height: auto;

            &:after,
            &:before {
                content: none;
            }

            &:disabled {
                background-color: $gray;
                color: $gray800;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    cursor: not-allowed;
                }
            }

            &:not([disabled]) {
                background-color: rgba(0, 0, 0, 0);
                color: $gray800;
                border: 1px solid black;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    background-color: black;
                    color: white;
                    cursor: pointer;
                }
            }
        }

        .slider--component {
            margin-bottom: 5rem;
            ul.product-grid {
                li.grid__item {
                    width: 25%;
                    &:first-child {
                        margin-left: 0;
                    }

                    &:hover {
                        button.quick-add__submit {
                            &:not([disabled]) {
                                background-color: black;
                                color: white;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &.size-4 {
                    li.grid__item {
                        width: calc((100% / 4) - (3 * 18px));
                    }
                }
            }
        }
    }
}
