@import "../config//config.scss";
$content-color: rgb(84, 72, 67);
.footer {
    background-color: #d1d1d1;

    .left {
        padding: 5rem 5rem 0 5rem;

        h1 {
            color: $content-color;
            font-size: 3rem;
            text-transform: uppercase;
        }

        .footer__menu {
            display: flex;
            flex-direction: row;
            padding-bottom: 4rem;

            .footer__links,
            .footer__collections,
            .footer__about {
                width: 100%;
                display: flex;
                flex-direction: column;

                .title {
                    font-family: $body-font;
                    font-size: 1.4rem;
                    color: $content-color;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }

                a {
                    display: inline-block;
                    margin-bottom: 1rem;
                    color: $content-color;
                }
            }
        }

        .footer__social {
            padding: 8rem 0;
            display: flex;
            border-top: 1px solid rgb(186, 173, 168);
            justify-content: space-between;

            h2 {
                color: $content-color;
                font-family: $font-primary;
            }

            .social-icons {
                svg path {
                    fill: $content-color;
                }
            }
        }
    }

    .right {
        background-color: rgb(36, 36, 36);
        .image-wrapper {
            width: 100%;
            height: 50%;
            img {
                object-fit: cover;
                aspect-ratio: 16/9;
                height: 100%;
                width: 100%;
                object-position: center;
            }
        }

        .footer__newsletter-container {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 5rem;

            .footer-block__newsletter {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                .footer-block__heading {
                    text-align: left;
                    color: white;
                }

                .footer__newsletter {
                    max-width: none !important;

                    .field__input {
                        background-color: rgba(0, 0, 0, 0);
                        border: none;
                    }

                    .newsletter-form__field-wrapper {
                        .field {
                            label {
                                color: white;
                            }
                            &:after {
                                border: 1px solid white;
                                box-shadow: none !important;
                            }

                            svg path {
                                fill: white !important;
                            }
                        }
                    }
                }
            }
        }

        @media (min-width: $breakpoint-md) {
            display: flex;
            .image-wrapper {
                width: 50%;
                height: 100%;
            }
            .footer__newsletter-container {
                width: 50%;
                height: 100%;
            }
        }

        @media (min-width: $breakpoint-xl) {
            display: initial;

            .image-wrapper {
                width: 100%;
                height: 50%;
            }
            .footer__newsletter-container {
                width: 100%;
                height: 50%;
            }
        }
    }
}
